---
import { Icon } from "astro-icon/components";
---

<button
  class="h-[52px] w-[52px] cursor-pointer rounded-2xl border-2 border-solarized-base2 p-3 shadow-xl hover:bg-solarized-base2 dark:border-solarized-base02 dark:hover:bg-solarized-base01 print:!hidden"
  id="theme-toggle-button"
  type="button"
>
  <Icon
    class="m-auto text-2xl dark:hidden"
    id="theme-toggle-icon"
    name="fa6-regular:moon"
  />
  <Icon
    class="m-auto hidden text-2xl dark:block"
    id="theme-toggle-icon"
    name="fa6-regular:sun"
  />
</button>

<script>
  import ThemeStore from "@stores/ThemeStore";

  ThemeStore.registerToggleButtonById("theme-toggle-button");
</script>
