---
import { Icon } from "astro-icon/components";
---

<button
  class="h-[52px] w-[52px] rounded-2xl border-2 border-solarized-base2 p-3 shadow-xl"
  type="button"
>
  <Icon class="m-auto text-2xl" name="fa6-regular:moon" />
</button>
